
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/sticker.gif');
    background-attachment: fixed;
}

.header {
    background: #8c7272;
    width: 100%;
    padding: 0;
}

.lab-name {
    font-family: "Rubik Puddles", monospace;
    font-size: 200%;
    text-align: center;
    background: #dc28df;
}

#main-container {
    background: linear-gradient(135deg, rgba(173, 216, 230, 0.4), rgba(224, 255, 255, 0.4));
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    margin: auto;
}

#head-area {
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.header-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.header-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.center-aligned,
.left-aligned,
.right-aligned {
    text-align: center;
    flex: 1;
}

.header-footer .right-aligned a {
    display: inline-block;
    padding: 5px 15px;
    background-color: rgb(128, 0, 128,0.67);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.header-footer .right-aligned a:hover {
    background-color: #45a049;
}